@import '~vuetify/src/styles/styles.sass';

$edit-dialog-content-padding: 0 16px !default;
$btn-hover-opacity: 0.1;

$list-dense-subheader-height: 32px;
$list-dense-min-height: 32px;
$list-dense-icon-height: 20px;
$list-item-action-icon-margin: 16px;
$list-dense-content-padding: 4px 0;
$list-group-items-item-padding: 32px;
$list-group-no-action-item-padding: 64px;

$slider-horizontal-left: 0px;
$slider-horizontal-right: 0px;
