.custom--active {
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 12px!important;
}

//.v-list--dense {
//  .v-subheader{
//    height: 32px;
//  }
//  .v-list-item--dense {
//    min-height: 32px!important;
//  }
//  .v-list-item__content {
//    padding: 4px 0!important;
//  }
//}

