
$red = {
  "base":       #F44336,
  "lighten-5":  #FFEBEE,
  "lighten-4":  #FFCDD2,
  "lighten-3":  #EF9A9A,
  "lighten-2":  #E57373,
  "lighten-1":  #EF5350,
  "darken-1":   #E53935,
  "darken-2":   #D32F2F,
  "darken-3":   #C62828,
  "darken-4":   #B71C1C,
  "accent-1":   #FF8A80,
  "accent-2":   #FF5252,
  "accent-3":   #FF1744,
  "accent-4":   #D50000
}

$pink = {
  "base":       #e91e63,
  "lighten-5":  #fce4ec,
  "lighten-4":  #f8bbd0,
  "lighten-3":  #f48fb1,
  "lighten-2":  #f06292,
  "lighten-1":  #ec407a,
  "darken-1":   #d81b60,
  "darken-2":   #c2185b,
  "darken-3":   #ad1457,
  "darken-4":   #880e4f,
  "accent-1":   #ff80ab,
  "accent-2":   #ff4081,
  "accent-3":   #f50057,
  "accent-4":   #c51162
}

$purple = {
  "base":       #9c27b0,
  "lighten-5":  #f3e5f5,
  "lighten-4":  #e1bee7,
  "lighten-3":  #ce93d8,
  "lighten-2":  #ba68c8,
  "lighten-1":  #ab47bc,
  "darken-1":   #8e24aa,
  "darken-2":   #7b1fa2,
  "darken-3":   #6a1b9a,
  "darken-4":   #4a148c,
  "accent-1":   #ea80fc,
  "accent-2":   #e040fb,
  "accent-3":   #d500f9,
  "accent-4":   #aa00ff
}

$deep-purple = {
  "base":       #673ab7,
  "lighten-5":  #ede7f6,
  "lighten-4":  #d1c4e9,
  "lighten-3":  #b39ddb,
  "lighten-2":  #9575cd,
  "lighten-1":  #7e57c2,
  "darken-1":   #5e35b1,
  "darken-2":   #512da8,
  "darken-3":   #4527a0,
  "darken-4":   #311b92,
  "accent-1":   #b388ff,
  "accent-2":   #7c4dff,
  "accent-3":   #651fff,
  "accent-4":   #6200ea
}

$indigo = {
  "base":       #3f51b5,
  "lighten-5":  #e8eaf6,
  "lighten-4":  #c5cae9,
  "lighten-3":  #9fa8da,
  "lighten-2":  #7986cb,
  "lighten-1":  #5c6bc0,
  "darken-1":   #3949ab,
  "darken-2":   #303f9f,
  "darken-3":   #283593,
  "darken-4":   #1a237e,
  "accent-1":   #8c9eff,
  "accent-2":   #536dfe,
  "accent-3":   #3d5afe,
  "accent-4":   #304ffe
}

$blue = {
  "base":       #2196F3,
  "lighten-5":  #E3F2FD,
  "lighten-4":  #BBDEFB,
  "lighten-3":  #90CAF9,
  "lighten-2":  #64B5F6,
  "lighten-1":  #42A5F5,
  "darken-1":   #1E88E5,
  "darken-2":   #1976D2,
  "darken-3":   #1565C0,
  "darken-4":   #0D47A1,
  "accent-1":   #82B1FF,
  "accent-2":   #448AFF,
  "accent-3":   #2979FF,
  "accent-4":   #2962FF
}

$light-blue = {
  "base":       #03a9f4,
  "lighten-5":  #e1f5fe,
  "lighten-4":  #b3e5fc,
  "lighten-3":  #81d4fa,
  "lighten-2":  #4fc3f7,
  "lighten-1":  #29b6f6,
  "darken-1":   #039be5,
  "darken-2":   #0288d1,
  "darken-3":   #0277bd,
  "darken-4":   #01579b,
  "accent-1":   #80d8ff,
  "accent-2":   #40c4ff,
  "accent-3":   #00b0ff,
  "accent-4":   #0091ea
}

$cyan = {
  "base":       #00bcd4,
  "lighten-5":  #e0f7fa,
  "lighten-4":  #b2ebf2,
  "lighten-3":  #80deea,
  "lighten-2":  #4dd0e1,
  "lighten-1":  #26c6da,
  "darken-1":   #00acc1,
  "darken-2":   #0097a7,
  "darken-3":   #00838f,
  "darken-4":   #006064,
  "accent-1":   #84ffff,
  "accent-2":   #18ffff,
  "accent-3":   #00e5ff,
  "accent-4":   #00b8d4
}

$teal = {
  "base":       #009688,
  "lighten-5":  #e0f2f1,
  "lighten-4":  #b2dfdb,
  "lighten-3":  #80cbc4,
  "lighten-2":  #4db6ac,
  "lighten-1":  #26a69a,
  "darken-1":   #00897b,
  "darken-2":   #00796b,
  "darken-3":   #00695c,
  "darken-4":   #004d40,
  "accent-1":   #a7ffeb,
  "accent-2":   #64ffda,
  "accent-3":   #1de9b6,
  "accent-4":   #00bfa5
}

$green = {
  "base":       #4CAF50,
  "lighten-5":  #E8F5E9,
  "lighten-4":  #C8E6C9,
  "lighten-3":  #A5D6A7,
  "lighten-2":  #81C784,
  "lighten-1":  #66BB6A,
  "darken-1":   #43A047,
  "darken-2":   #388E3C,
  "darken-3":   #2E7D32,
  "darken-4":   #1B5E20,
  "accent-1":   #B9F6CA,
  "accent-2":   #69F0AE,
  "accent-3":   #00E676,
  "accent-4":   #00C853
}

$light-green = {
  "base":       #8bc34a,
  "lighten-5":  #f1f8e9,
  "lighten-4":  #dcedc8,
  "lighten-3":  #c5e1a5,
  "lighten-2":  #aed581,
  "lighten-1":  #9ccc65,
  "darken-1":   #7cb342,
  "darken-2":   #689f38,
  "darken-3":   #558b2f,
  "darken-4":   #33691e,
  "accent-1":   #ccff90,
  "accent-2":   #b2ff59,
  "accent-3":   #76ff03,
  "accent-4":   #64dd17
}

$lime = {
  "base":       #cddc39,
  "lighten-5":  #f9fbe7,
  "lighten-4":  #f0f4c3,
  "lighten-3":  #e6ee9c,
  "lighten-2":  #dce775,
  "lighten-1":  #d4e157,
  "darken-1":   #c0ca33,
  "darken-2":   #afb42b,
  "darken-3":   #9e9d24,
  "darken-4":   #827717,
  "accent-1":   #f4ff81,
  "accent-2":   #eeff41,
  "accent-3":   #c6ff00,
  "accent-4":   #aeea00
}

$yellow = {
  "base":       #ffeb3b,
  "lighten-5":  #fffde7,
  "lighten-4":  #fff9c4,
  "lighten-3":  #fff59d,
  "lighten-2":  #fff176,
  "lighten-1":  #ffee58,
  "darken-1":   #fdd835,
  "darken-2":   #fbc02d,
  "darken-3":   #f9a825,
  "darken-4":   #f57f17,
  "accent-1":   #ffff8d,
  "accent-2":   #ffff00,
  "accent-3":   #ffea00,
  "accent-4":   #ffd600
}

$amber = {
  "base":       #ffc107,
  "lighten-5":  #fff8e1,
  "lighten-4":  #ffecb3,
  "lighten-3":  #ffe082,
  "lighten-2":  #ffd54f,
  "lighten-1":  #ffca28,
  "darken-1":   #ffb300,
  "darken-2":   #ffa000,
  "darken-3":   #ff8f00,
  "darken-4":   #ff6f00,
  "accent-1":   #ffe57f,
  "accent-2":   #ffd740,
  "accent-3":   #ffc400,
  "accent-4":   #ffab00
}

$orange = {
  "base":       #ff9800,
  "lighten-5":  #fff3e0,
  "lighten-4":  #ffe0b2,
  "lighten-3":  #ffcc80,
  "lighten-2":  #ffb74d,
  "lighten-1":  #ffa726,
  "darken-1":   #fb8c00,
  "darken-2":   #f57c00,
  "darken-3":   #ef6c00,
  "darken-4":   #e65100,
  "accent-1":   #ffd180,
  "accent-2":   #ffab40,
  "accent-3":   #ff9100,
  "accent-4":   #ff6d00
}

$deep-orange = {
  "base":       #ff5722,
  "lighten-5":  #fbe9e7,
  "lighten-4":  #ffccbc,
  "lighten-3":  #ffab91,
  "lighten-2":  #ff8a65,
  "lighten-1":  #ff7043,
  "darken-1":   #f4511e,
  "darken-2":   #e64a19,
  "darken-3":   #d84315,
  "darken-4":   #bf360c,
  "accent-1":   #ff9e80,
  "accent-2":   #ff6e40,
  "accent-3":   #ff3d00,
  "accent-4":   #dd2c00
}

$brown = {
  "base":       #795548,
  "lighten-5":  #efebe9,
  "lighten-4":  #d7ccc8,
  "lighten-3":  #bcaaa4,
  "lighten-2":  #a1887f,
  "lighten-1":  #8d6e63,
  "darken-1":   #6d4c41,
  "darken-2":   #5d4037,
  "darken-3":   #4e342e,
  "darken-4":   #3e2723
}

$blue-grey = {
  "base":       #607d8b,
  "lighten-5":  #eceff1,
  "lighten-4":  #cfd8dc,
  "lighten-3":  #b0bec5,
  "lighten-2":  #90a4ae,
  "lighten-1":  #78909c,
  "darken-1":   #546e7a,
  "darken-2":   #455a64,
  "darken-3":   #37474f,
  "darken-4":   #263238
}

$grey = {
  "base":       #9e9e9e,
  "lighten-5":  #fafafa,
  "lighten-4":  #f5f5f5,
  "lighten-3":  #eeeeee,
  "lighten-2":  #e0e0e0,
  "lighten-1":  #bdbdbd,
  "darken-1":   #757575,
  "darken-2":   #616161,
  "darken-3":   #424242,
  "darken-4":   #212121
}

$shades = {
  "black":        #000000,
  "white":        #FFFFFF,
  "transparent":  transparent
}

$colors := {
  "red": $red,
  "pink": $pink,
  "purple": $purple,
  "deep-purple": $deep-purple,
  "indigo": $indigo,
  "blue": $blue,
  "light-blue": $light-blue,
  "cyan": $cyan,
  "teal": $teal,
  "green": $green,
  "light-green": $light-green,
  "lime": $lime,
  "yellow": $yellow,
  "amber": $amber,
  "orange": $orange,
  "deep-orange": $deep-orange,
  "brown": $brown,
  "blue-grey": $blue-grey,
  "grey": $grey,
  "shades": $shades
}



// Theme
// ============================================================
$body-font-family := 'Roboto', sans-serif
$font-size-root := 14px
$line-height-root := 1.5

// Material Design - https://material.io/guidelines/style/color.html#color-usability
// ============================================================
$material-light := {
  status-bar: {
    regular: $grey.lighten-2,
    lights-out: rgba($shades.white, .7)
  },
  app-bar: $grey.lighten-4,
  background: $grey.lighten-5,
  cards: $shades.white,
  chips: {
    background: $grey.lighten-2,
    color: rgba($shades.black, .87)
  },
  dividers: rgba($shades.black, .12),
  text: {
    theme: $shades.white,
    primary: rgba($shades.black, .87),
    secondary: rgba($shades.black, .54),
    disabled: rgba($shades.black, .38),
    link: $blue.darken-2,
    link-hover: $grey.darken-3
  },
  icons: {
    active: rgba($shades.black, .54),
    inactive: rgba($shades.black, .38)
  },
  inputs: {
    box: rgba($shades.black, .04),
    solo-inverted: rgba($shades.black, .16),
    solo-inverted-focused: $grey.darken-3,
    solo-inverted-focused-text: $shades.white
  },
  buttons: {
    disabled: rgba($shades.black, .26),
    focused: rgba($shades.black, .12),
    focused-alt: rgba($shades.white, .6),
    pressed: rgba(#999, .4)
  },
  expansion-panels: {
    focus: $grey.lighten-3
  },
  list-tile: {
    hover: rgba($shades.black, .04)
  },
  selection-controls: {
    thumb: {
      inactive: $grey.lighten-5,
      disabled: $grey.lighten-1
    },
    track: {
      inactive: rgba($shades.black, .38),
      disabled: rgba($shades.black, .12)
    }
  },
  slider: {
    active: rgba($shades.black, .38),
    inactive: rgba($shades.black, .26),
    disabled: rgba($shades.black, .26),
    discrete: $shades.black
  },
  tabs: {
    active: rgba($shades.black, .87)
  },
  text-fields: {
    box: rgba($shades.black, .06),
    box-hover: rgba($shades.black, .12)
  },
  input-bottom-line: rgba($shades.black, .42),
  stepper: {
    active: rgba($shades.white, 1),
    completed: rgba($shades.black, 0.87),
    hover: rgba($shades.black, 0.54)
  },
  table: {
    active: $grey.lighten-4
    hover: $grey.lighten-3
  },
  picker: {
    body: $shades.white,
    clock: $grey.lighten-2,
    indeterminateTime: $grey.lighten-1,
    title: $grey.lighten-2
  },
  bg-color: $shades.white
  fg-color: $shades.black
  text-color: $shades.black
  primary-text-percent: .87
  secondary-text-percent: .54
  disabledORhints-text-percent: .38
  divider-percent: .12
  active-icon-percent: .54
  inactive-icon-percent: .38
  calendar: {
    background-color: #fff
    outside-background-color: #f7f7f7
    line-color: #e0e0e0
    interval-color: $grey.darken-3
    interval-line-color: $grey.lighten-2
    text-color: #000
    past-color: rgba(#000, .38)
  }
}

$material-dark := {
  status-bar: {
    regular: $shades.black,
    lights-out: rgba($shades.black, .2)
  },
  app-bar: $grey.darken-4,
  background: #303030,
  cards: $grey.darken-3,
  chips: {
    background: #555,
    color: $shades.white
  },
  dividers: rgba($shades.white, .12),
  text: {
    theme: $shades.white,
    primary: $shades.white,
    secondary: rgba($shades.white, .70),
    disabled: rgba($shades.white, .50),
    link: $blue.accent-1,
    link-hover: $grey.lighten-3
  },
  icons: {
    active: $shades.white,
    inactive: rgba($shades.white, .5)
  },
  inputs: {
    box: $shades.white,
    solo-inverted: rgba($shades.white, .16),
    solo-inverted-focused: $shades.white,
    solo-inverted-focused-text: $material-light.text.primary
  },
  list-tile: {
    hover: rgba($shades.white, .08)
  },
  buttons: {
    disabled: rgba($shades.white, .3),
    focused: rgba($shades.white, .12),
    focused-alt: rgba($shades.white, .1),
    pressed: rgba(#ccc, .25)
  },
  expansion-panels: {
    focus: #494949
  },
  selection-controls: {
    thumb: {
      inactive: $grey.lighten-1,
      disabled: $grey.darken-3
    },
    track: {
      inactive: rgba($shades.white, .3),
      disabled: rgba($shades.white, .1)
    }
  },
  slider: {
    active: rgba($shades.white, .3),
    inactive: rgba($shades.white, .2),
    disabled: rgba($shades.white, .2),
    discrete: $shades.white
  },
  tabs: {
    active: $shades.white
  },
  text-fields: {
    box: rgba($shades.black, .1),
    box-hover: rgba($shades.black, .2),
    box-focus: rgba($shades.black, .3)
  },
  input-bottom-line: rgba($shades.white, .7),

  stepper: {
    active: rgba($shades.white, 1),
    completed: rgba($shades.white, 0.87),
    hover: rgba($shades.white, 0.75)
  },
  table: {
    active: #505050
    hover: $grey.darken-2
  },
  picker: {
    body: $grey.darken-3,
    clock: $grey.darken-2,
    indeterminateTime: $grey.darken-1,
    title: $grey.darken-2
  },
  bg-color: #303030
  fg-color: $shades.white
  text-color: $shades.white
  primary-text-percent: 1
  secondary-text-percent: .70
  disabledORhints-text-percent: .50
  divider-percent: .12
  active-icon-percent: 1
  inactive-icon-percent: .50
  calendar: {
    background-color: #303030
    outside-background-color: #202020
    line-color: $grey.base
    interval-color: $grey.lighten-3
    interval-line-color: $grey.darken-2
    text-color: #fff
    past-color: rgba(#fff, .50)
  }
}

// Default Material Theme
// ============================================================
$material-theme := $material-light
$material-twelve-percent-light := rgba($material-dark.fg-color, $material-dark.divider-percent)
$material-twelve-percent-dark := rgba($material-light.fg-color, $material-light.divider-percent)


// Theme
// ============================================================
$body-bg-light := $material-light.background
$body-bg-dark := $material-dark.background
$body-color-light := rgba($material-dark.text-color, $material-dark.primary-text-percent)
$body-color-dark := rgba($material-light.text-color, $material-light.primary-text-percent)
$color-theme := rgba($material-theme.text-color, $material-theme.primary-text-percent)


$shadow-key-umbra-opacity := rgba(0,0,0, .2)
$shadow-key-penumbra-opacity := rgba(0,0,0, .14)
$shadow-key-ambient-opacity := rgba(0,0,0, .12)

$shadow-key-umbra := 0px 0px 0px 0px $shadow-key-umbra-opacity,
  0px 2px 1px -1px $shadow-key-umbra-opacity,
  0px 3px 1px -2px $shadow-key-umbra-opacity,
  0px 3px 3px -2px $shadow-key-umbra-opacity,
  0px 2px 4px -1px $shadow-key-umbra-opacity,
  0px 3px 5px -1px $shadow-key-umbra-opacity,
  0px 3px 5px -1px $shadow-key-umbra-opacity,
  0px 4px 5px -2px $shadow-key-umbra-opacity,
  0px 5px 5px -3px $shadow-key-umbra-opacity,
  0px 5px 6px -3px $shadow-key-umbra-opacity,
  0px 6px 6px -3px $shadow-key-umbra-opacity,
  0px 6px 7px -4px $shadow-key-umbra-opacity,
  0px 7px 8px -4px $shadow-key-umbra-opacity,
  0px 7px 8px -4px $shadow-key-umbra-opacity,
  0px 7px 9px -4px $shadow-key-umbra-opacity,
  0px 8px 9px -5px $shadow-key-umbra-opacity,
  0px 8px 10px -5px $shadow-key-umbra-opacity,
  0px 8px 11px -5px $shadow-key-umbra-opacity,
  0px 9px 11px -5px $shadow-key-umbra-opacity,
  0px 9px 12px -6px $shadow-key-umbra-opacity,
  0px 10px 13px -6px $shadow-key-umbra-opacity,
  0px 10px 13px -6px $shadow-key-umbra-opacity,
  0px 10px 14px -6px $shadow-key-umbra-opacity,
  0px 11px 14px -7px $shadow-key-umbra-opacity,
  0px 11px 15px -7px $shadow-key-umbra-opacity

$shadow-key-penumbra := 0px 0px 0px 0px $shadow-key-penumbra-opacity,
  0px 1px 1px 0px $shadow-key-penumbra-opacity,
  0px 2px 2px 0px $shadow-key-penumbra-opacity,
  0px 3px 4px 0px $shadow-key-penumbra-opacity,
  0px 4px 5px 0px $shadow-key-penumbra-opacity,
  0px 5px 8px 0px $shadow-key-penumbra-opacity,
  0px 6px 10px 0px $shadow-key-penumbra-opacity,
  0px 7px 10px 1px $shadow-key-penumbra-opacity,
  0px 8px 10px 1px $shadow-key-penumbra-opacity,
  0px 9px 12px 1px $shadow-key-penumbra-opacity,
  0px 10px 14px 1px $shadow-key-penumbra-opacity,
  0px 11px 15px 1px $shadow-key-penumbra-opacity,
  0px 12px 17px 2px $shadow-key-penumbra-opacity,
  0px 13px 19px 2px $shadow-key-penumbra-opacity,
  0px 14px 21px 2px $shadow-key-penumbra-opacity,
  0px 15px 22px 2px $shadow-key-penumbra-opacity,
  0px 16px 24px 2px $shadow-key-penumbra-opacity,
  0px 17px 26px 2px $shadow-key-penumbra-opacity,
  0px 18px 28px 2px $shadow-key-penumbra-opacity,
  0px 19px 29px 2px $shadow-key-penumbra-opacity,
  0px 20px 31px 3px $shadow-key-penumbra-opacity,
  0px 21px 33px 3px $shadow-key-penumbra-opacity,
  0px 22px 35px 3px $shadow-key-penumbra-opacity,
  0px 23px 36px 3px $shadow-key-penumbra-opacity,
  0px 24px 38px 3px $shadow-key-penumbra-opacity

$shadow-key-ambient := 0px 0px 0px 0px $shadow-key-ambient-opacity,
  0px 1px 3px 0px $shadow-key-ambient-opacity,
  0px 1px 5px 0px $shadow-key-ambient-opacity,
  0px 1px 8px 0px $shadow-key-ambient-opacity,
  0px 1px 10px 0px $shadow-key-ambient-opacity,
  0px 1px 14px 0px $shadow-key-ambient-opacity,
  0px 1px 18px 0px $shadow-key-ambient-opacity,
  0px 2px 16px 1px $shadow-key-ambient-opacity,
  0px 3px 14px 2px $shadow-key-ambient-opacity,
  0px 3px 16px 2px $shadow-key-ambient-opacity,
  0px 4px 18px 3px $shadow-key-ambient-opacity,
  0px 4px 20px 3px $shadow-key-ambient-opacity,
  0px 5px 22px 4px $shadow-key-ambient-opacity,
  0px 5px 24px 4px $shadow-key-ambient-opacity,
  0px 5px 26px 4px $shadow-key-ambient-opacity,
  0px 6px 28px 5px $shadow-key-ambient-opacity,
  0px 6px 30px 5px $shadow-key-ambient-opacity,
  0px 6px 32px 5px $shadow-key-ambient-opacity,
  0px 7px 34px 6px $shadow-key-ambient-opacity,
  0px 7px 36px 6px $shadow-key-ambient-opacity,
  0px 8px 38px 7px $shadow-key-ambient-opacity,
  0px 8px 40px 7px $shadow-key-ambient-opacity,
  0px 8px 42px 7px $shadow-key-ambient-opacity,
  0px 9px 44px 8px $shadow-key-ambient-opacity,
  0px 9px 46px 8px $shadow-key-ambient-opacity

// MIXINS
elevation($z, important = false)
  box-shadow: $shadow-key-umbra[$z],
    $shadow-key-penumbra[$z],
    $shadow-key-ambient[$z] (important ? !important : )

elevationTransition($duration = 280ms, $easing = cubic-bezier(.4, 0, .2, 1))
  transition: box-shadow $duration $easing
  will-change: box-shadow

// ============================================================
// Vuetify variables
// ============================================================

$color-pack := true

// Grid
// ============================================================
$grid-breakpoints := {
  xs: 0
  sm: 600px
  md: 960px
  lg: (1280px - 16px) // Desktop gets a 16dp reduction
  xl: (1920px - 16px) // https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints
}

$grid-gutter := 8px
$grid-columns := 12
$grid-gutters := {
  xs: ($grid-gutter / 4)
  sm: ($grid-gutter / 2)
  md: $grid-gutter
  lg: ($grid-gutter * 2)
  xl: ($grid-gutter * 3)
}

$container-max-widths := {
  md: $grid-breakpoints.md
  lg: $grid-breakpoints.lg
  xl: $grid-breakpoints.xl
}


// Display
// ============================================================
$display-breakpoints := {
  print-only: "only print"
  screen-only: "only screen"
  xs-only: "only screen and (max-width: %s)" % ($grid-breakpoints.sm - 1)
  sm-only: "only screen and (min-width: %s) and (max-width: %s)" % ($grid-breakpoints.sm ($grid-breakpoints.md  - 1))
  sm-and-down: "only screen and (max-width: %s)" % ($grid-breakpoints.md - 1)
  sm-and-up: "only screen and (min-width: %s)" % $grid-breakpoints.sm
  md-only: "only screen and (min-width: %s) and (max-width: %s)" % ($grid-breakpoints.md ($grid-breakpoints.lg  - 1))
  md-and-down: "only screen and (max-width: %s )" % ($grid-breakpoints.lg - 1)
  md-and-up: "only screen and (min-width: %s)" % $grid-breakpoints.md
  lg-only: "only screen and (min-width: %s) and (max-width: %s)" % ($grid-breakpoints.lg ($grid-breakpoints.xl - 1))
  lg-and-down: "only screen and (max-width: (%s - 1))" % $grid-breakpoints.xl
  lg-and-up: "only screen and (min-width: %s)" % $grid-breakpoints.lg
  xl-only: "only screen and (min-width: %s)" % $grid-breakpoints.xl
}


// Spacing
// ============================================================
$spacer := 16px
$spacer-x := $spacer
$spacer-y := $spacer
$spacers := {
  zero: {
    x: 0,
    y: 0
  },
  one: {
    x: ($spacer-x * .25),
    y: ($spacer-y * .25)
  },
  two: {
    x: ($spacer-x * .5),
    y: ($spacer-y * .5)
  },
  three: {
    x: $spacer-x,
    y: $spacer-y
  },
  four: {
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  },
  five: {
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  }
}

$font-weights := {
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
}

// Headings
// ============================================================
$heading-font-family := $body-font-family
$headings := {
  h1: { size: 112px, weight: 300, line-height: 1, letter-spacing: -.04em, font-family: $heading-font-family },
  h2: { size: 56px, weight: 400, line-height: 1.35, letter-spacing: -.02em, font-family: $heading-font-family },
  h3: { size: 45px, weight: 400, line-height: 48px, letter-spacing: normal, font-family: $heading-font-family },
  h4: { size: 34px, weight: 400, line-height: 40px, letter-spacing: normal, font-family: $heading-font-family },
  h5: { size: 24px, weight: 400, line-height: 32px, letter-spacing: normal, font-family: $heading-font-family },
  h6: { size: 20px, weight: 500, line-height: 1, letter-spacing: .02em, font-family: $heading-font-family },
  subheading: { size: 16px, weight: 400 },
  body-2: { size: 14px, weight: 500 },
  body-1: { size: 14px, weight: 400 },
  caption: { size: 12px, weight: 400 },
}


// Transitions
$transition := {
  fast-out-slow-in: cubic-bezier(0.4, 0.0, 0.2, 1),
  linear-out-slow-in: cubic-bezier(0.0, 0.0, 0.2, 1),
  fast-out-linear-in: cubic-bezier(0.4, 0.0, 1, 1),
  ease-in-out: cubic-bezier(0.4, 0.0, 0.6, 1),
  fast-in-fast-out: cubic-bezier(.25,.8,.25,1),
  swing: cubic-bezier(.25,.8,.50,1)
}

$primary-transition := 0.3s $transition.swing
$secondary-transition := 0.2s $transition.ease-in-out

// Components
// ============================================================

// Alerts
$alert-color := inherit
$alert-border-radius := 0
$alert-border-width := 4px 0 0 0
$alert-font-size := $font-size-root
$alert-icon-color := rgba($material-light.fg-color, .3)
$alert-icon-font-size := 24px
$alert-padding := 16px
$alert-margin := $spacers.one.y auto
$alert-outline-border-width := 1px
$alert-outline-border-style := solid

// Badges
$badge-border-radius := 50%
$badge-color := $material-dark.fg-color
$badge-font-family := $body-font-family
$badge-font-size := 14px
$badge-height := 22px
$badge-top := 0
$badge-right := 0
$badge-width := 22px

// Breadcrumbs
$breadcrumbs-flex := 0 1 auto
$breadcrumbs-padding := 18px 12px
$breadcrumbs-even-child-padding := 0 12px
$breadcrumbs-item-font-size := 14px
$breadcrumbs-item-large-font-size := 16px
$breadcrumbs-margin := 0
$breadcrumbs-padding := 0 14px

/** Buttons */

// Base
$button-border-radius := 2px
$button-color := $material-light.fg-color
$button-background-color := #999999
$button-height := 36px
$button-font-size := 14px
$button-font-weight := 500
$button-margin-y := 6px
$button-margin-x := 8px
$button-margin := $button-margin-y $button-margin-x
$button-min-width := 88px
$button-small-padding := 0 8px
$button-padding := 0 16px
$button-large-padding := 0 32px
$button-text-transform := uppercase

$button-small-height := 28px
$button-small-font-size := 13px

$button-large-height := 44px
$button-large-font-size := 15px

$button-floating-width := 56px
$button-floating-icon-height := 24px
$button-floating-icon-width := 24px
$button-floating-small-width := 40px
$button-floating-large-width := 72px
$button-floating-small-icon-width := 18px
$button-floating-large-icon-width := 30px

// Card
$card-border-radius := 2px

// Chip
$chip-border-radius := 28px
$chip-close-margin := 0 2px 0 8px
$chip-close-margin-rtl := 0 8px 0 2px
$chip-font-size := 13px
$chip-label-border-radius := $card-border-radius
$chip-icon-font-size := 20px
$chip-padding := 0 12px
$chip-outline-background := transparent !important
$chip-outline-color := $grey.base
$chip-height := 32px
$chip-margin := 4px
$chip-small-height := 24px
$chip-small-font-size := 20px
$chip-icon-offset := 12px
$chip-icon-negative-offset := -8px
// TODO: s/removeable/removable in 2.0
// invalid name kept to avoid possible breaking change
$chip-removeable-padding := 0 $chip-margin 0 $chip-icon-offset
$chip-removable-padding-rtl := 0 $chip-icon-offset 0 $chip-margin
// TODO: remove in 2.0
$chip-removable-padding := $chip-removeable-padding

// Collapsible
$expansion-panel-collapse-height := 48px
$collapsible-transition-height := 0.23s

// Footer
$footer-height := 36px

/** Lists */
// List fonts and weights
$list-tile-font-size := $headings.subheading.size // 16px - the mdc scss uses subheading to configure like this
$list-tile-font-weight := $headings.subheading.weight // 400

$list-action-text-font-size := 12px // this is for the stacked actions
$list-action-text-font-color := $grey.base

$list-sub-title-font-size := ($list-tile-font-size - 2px) // 14px

$subheader-height-font-size := ($list-tile-font-size - 2px) // 14px
$subheader-font-weight := $font-weights.medium // 500


// List spacing
$list-left-padding := 16px
$list-right-padding := 16px
$list-top-padding := 8px
$list-bottom-padding := 8px

$list-item-right-margin := 56px
$list-item-left-padding := 72px
$list-item-avatar-triple-margin-top := -18px
$list-item-single-height := 48px
$list-item-double-height := 72px
$list-item-triple-height := 88px
$list-item-avatar-single-height := 56px

$subheader-inset-margin := $list-item-right-margin

// List dense overrides
$list-item-dense-font-size := ($list-tile-font-size - 3px) //13px
$subheader-dense-font-size := $list-item-dense-font-size
$list-item-dense-icon-font-size := 22px
$list-item-dense-avatar-triple-margin-top := -14px
$list-item-dense-top-padding := $list-top-padding / 2
$list-item-dense-single-height := $list-item-single-height - 8px //40px
$list-item-dense-double-height := $list-item-double-height - 12px //60px
$list-item-dense-triple-height := $list-item-triple-height - 12px //76px

$list-item-dense-avatar-single-height := $list-item-single-height //48px the dense concept was to take avatars to a normal single item height
$list-item-dense-avatar-height := 38px

$list-dense-subheader-height := $list-item-dense-single-height
$list-dense-subheader-group-height := $list-dense-subheader-height //the subheader under a group menu

// Paper
$sheet-border-radius := 2px

// Pickers
$time-picker-number-font-size := 16px
$time-picker-indicator-size := 40px

// Toolbar
$toolbar-height := 56px
$toolbar-item-padding := 0 16px
$toolbar-padding-y := 0
$toolbar-padding-x := 16px

// Progress Circular
$progress-circular-rotate-animation := progress-circular-rotate 1.4s linear infinite
$progress-circular-rotate-dash := progress-circular-dash 1.4s ease-in-out infinite
$process-circular-intermediate-svg-transition := all .2s ease-in-out
$progress-circular-underlay-stroke := rgba($material-light.fg-color, 0.1)
$progress-circular-overlay-transition := all .6s ease-in-out

// Navigation drawer
$navigation-drawer-item-font-size := 14px
$navigation-drawer-item-font-weight := $font-weights.medium
$navigation-drawer-group-item-font-weight := $font-weights.regular

// Snackbar
$snackbar-color := #fff
$snackbar-background-color := #323232
$snackbar-corner-offset := 24px

// Tab
$tab-text-transform := uppercase

// Inputs
$input-top-spacing := 16px
$text-field-active-label-height := 12px

// Timeline
$timeline-wedge-size := 10px
$timeline-dot-small-size := 24px
$timeline-dot-regular-size := 38px
$timeline-dot-large-size := 52px

$timeline-inner-dot-small-size := 18px
$timeline-inner-dot-small-margin := 3px
$timeline-inner-dot-regular-size := 30px
$timeline-inner-dot-regular-margin := 4px
$timeline-inner-dot-large-size := 42px
$timeline-inner-dot-large-margin := 5px

// Calendar
$calendar-daily-weekday-padding := 4px 4px 4px 8px
$calendar-daily-weekday-font-size := 14px
$calendar-daily-day-padding := 0px 4px 4px 8px
$calendar-daily-day-font-size := 40px
$calendar-daily-day-line-height := 40px
$calendar-daily-interval-gutter-width := 44px
$calendar-daily-interval-gutter-top := -6px
$calendar-daily-interval-gutter-font-size := 10px

$calendar-weekly-weekday-padding := 0px 4px 0px 4px
$calendar-weekly-weekday-font-size := 14px
$calendar-weekly-day-padding := 32px 4px 4px 4px
$calendar-weekly-day-label-size := 32px
$calendar-weekly-day-label-radius := 16px
$calendar-weekly-day-month-left := 36px

// Directives
// ============================================================

// Ripple animation
$ripple-animation-transition-in := transform .25s $transition.fast-out-slow-in, opacity .1s $transition.fast-out-slow-in
$ripple-animation-transition-out := opacity .3s $transition.fast-out-slow-in
$ripple-animation-visible-opacity := .15

// Treeview transition
$treeview-transition := .2s $transition.linear-out-slow-in
